<html>
<head>
<meta charset="UTF-8">
<title>Twitterzie ;)</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Devonshire);

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	height: 100%;
	background-image: url("../img/bg_pattern.jpg");
	background-attachment: fixed;
	font-family: 'Devonshire', cursive;
	font-size:16px;
}

.center {
	background-image: url("../img/papirus.png");
	width: 1049px;
	height: 922px;
	top: -70px;
	left: 50%;

	text-align: center;
	position: fixed;
	margin-left: -520px;
}

.text{
	position:absolute;
	width:900px;
	padding-top:100px;
	left: 50%;
	margin-left:-450px;
	text-align:center;
	font-size:35px;
}
</style>
</head>
<body>
	<div class="center"></div>
	<div class="text">
		<% for(var i in poem){ %>
			 <%= poem[i] %> <br/>
		<% } %>
	</div>
</body>
</html>